body {
    margin:0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Cabin', sans-serif;
  }

.texto{
    text-align: center;
}

h2{
    border-bottom: white;
}

.borde{
    color: white;
    height: 3px;
}

.hero-section{
    text-align: center;
    background-image: url('../img/roberto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding: 30.25rem 3.125rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;

  }

.container-fluid{
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    margin-bottom: auto;
}