body {
    margin:0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Cabin', sans-serif;
  }

.texto{
    text-align: center;
}

h2{
    border-bottom: white;
}

.borde{
    color: white;
    height: 3px;
}

.jumbotron{
    text-align: center;
    background-image: url('../img/roberto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 30.25rem 3.125rem;
    height: 10%;
    

  }

.container-fluid{
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    margin-bottom: auto;
}