body {
    height: 100%;
    margin:0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Cabin', sans-serif;
  }

  a .logo{
    font-family: 'Lobster', cursive;
}

div{
    font-family: 'Cabin', sans-serif;
}

.texto{
    text-align: center;
}

h2{
    border-bottom: white;
    font-size: 45pt;
}

.carousel-indicators li {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color:  #373A3C;
   
}

.carousel-indicators{
    position: relative;
}

div .carousel img{
    width: 100%;
    max-height: 460px;
}

.jumbotron{
    color: white;
    background-image: url(../img/logo-portafolio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 500px;
    max-width: 200%;
}

.jumbotron-fluid{
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.bienvenida{
    text-align: right;
    margin-bottom: 0;
    margin-top: 25rem;
}

@media (min-width:576px){
    .jumbotron{
        padding: 4rem 2rem;
    }
}

  span {
    font-family: 'Lobster', cursive;
    font-size: 48px;
  }

  span .text-logotipo{
    font-size: 10%;
}

footer p{
    font-family: 'lobster' , cursive;
    font-size: 30pt;
}

.container-fluid{
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.titulo{
    margin-bottom: auto;
}

.descripcion{
    font-size: 25pt;
    font-weight: 500 ;
}

.separation{
    height: 2px;
    border: none;
    color: #333;
    background-color: #333;
    width: 10%;
}

.separation2{
    height: 2px;
    border: none;
    color: white;
    background-color: white;
    width: 10%;
}

.iconos{
   font-size: 40pt;
   margin-top: 0.3rem;
}

.iconos a{
    color: white;
}

.centrado {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
}

h5{
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
}

.newsletter{
    background-color: grey;
}